body {
  margin-left: 5rem;
  max-width: fit-content;
  max-height: fit-content;
  overflow-y: hidden;
  box-sizing: border-box;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.owl {
  animation: moving 4s forwards linear;
  position: fixed;
  bottom: -15rem;
}

.head {
  background-color: rgb(123, 202, 238);
  border-radius: 50%;
  height: 13rem;
  width: 17rem;
  position: relative;
  bottom: -6rem;
  z-index: 2;
  animation: nod 4s linear infinite;
}

.left__ear {
  background-color: rgb(123, 202, 238);
  height: 4rem;
  width: 3rem;
  clip-path: polygon(22% 67%, 84% 0, 100% 100%, 22% 100%);
  position: relative;
  bottom: 2rem;
  left: 0.5rem;
  transform: rotate(-30deg);
}

.left__ear::after {
  content: "";
  display: block;
  background-color: rgb(235, 230, 161);
  height: 0.8rem;
  width: 0.3rem;
  position: relative;
  top: 2.5rem;
  left: 1.7rem;
  transform: rotate(20deg);
}

.right__ear {
  background-color: rgb(123, 202, 238);
  height: 4rem;
  width: 3rem;
  clip-path: polygon(22% 67%, 84% 0, 100% 100%, 22% 100%);
  position: relative;
  bottom: 5.4rem;
  left: 14rem;
  transform: scale(-1, 1) rotate(-30deg);
}

.right__ear::after {
  content: "";
  display: block;
  background-color: rgb(235, 230, 161);
  height: 0.8rem;
  width: 0.3rem;
  position: relative;
  top: 2.5rem;
  left: 1.7rem;
  transform: rotate(20deg);
}

.face {
  position: relative;
  left: 0.8rem;
  bottom: 6.5rem;
}

.left__eye {
  background-color: white;
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
  border: black solid 5px;
  position: relative;
  bottom: -1rem;
  left: 0.5rem;
}

.left__eye:after {
  content: "";
  display: block;
  border: 1.8rem solid black;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: relative;
  right: -1rem;
  bottom: -1rem;
}

.left__eye:hover:after {
  position: relative;
  right: -0.8rem;
  bottom: -0.8rem;
}

.right__eye {
  background-color: white;
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
  border: black solid 5px;
  position: relative;
  bottom: 6rem;
  left: 7rem;
}
.right__eye::after {
  content: "";
  display: block;
  border: 1.8rem solid black;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: relative;
  right: -1rem;
  bottom: -1rem;
}

.right__eye:hover:after {
  position: relative;
  right: -0.8rem;
  bottom: -0.8rem;
}

.nose {
  clip-path: polygon(50% 0%, 73% 20%, 51% 72%, 25% 21%);
  background-color: rgb(235, 230, 161);
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 4.8rem;
  bottom: 8.3rem;
}

.body {
  background-color: rgb(78, 178, 224);
  border-radius: 50%;
  height: 25rem;
  width: 16rem;
}

.belly {
  background-color: rgb(19, 157, 221);
  height: 20rem;
  width: 12rem;
  border-radius: 50%;
  position: relative;
  left: 2rem;
  top: 2rem;
  z-index: 1;
}

.belly:after {
  content: "";
  display: block;
  background-color: rgb(235, 230, 161);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: relative;
  left: 2rem;
  bottom: -9rem;
  box-shadow: 2rem 0rem rgb(235, 230, 161), 4.5rem 0rem rgb(235, 230, 161),
    6.5rem 0rem rgb(235, 230, 161), 2rem 2.5rem rgb(235, 230, 161),
    4.5rem 2.5rem rgb(235, 230, 161);
}

.left__wing {
  background-color: rgb(123, 202, 238);
  height: 13rem;
  width: 7rem;
  border-radius: 50%;
  position: relative;
  top: -16rem;
  right: 2rem;
  transform: rotate(35deg);
}

.right__wing {
  background-color: rgb(123, 202, 238);
  height: 13rem;
  width: 7rem;
  border-radius: 50%;
  position: relative;
  bottom: 29rem;
  right: -11rem;
  transform: rotate(-35deg);
}

.left__foot {
  position: relative;
  bottom: 1.5rem;
  left: 4rem;
  animation: walking-left 1s forwards linear;
  animation-iteration-count: 4;
}

.left__foot:after {
  content: "";
  display: block;
  background-color: rgb(68, 47, 47);
  border-radius: 50%;
  height: 2rem;
  width: 1rem;
  position: relative;
  transform: rotate(10deg);
  box-shadow: 0.8rem 0.2rem rgb(68, 47, 47), 1.5rem 0.1rem rgb(68, 47, 47);
}

.right__foot {
  position: relative;
  right: -10rem;
  top: -7.5rem;
  animation: walking-right 1s forwards linear;
  animation-iteration-count: 4;
}

.right__foot:after {
  content: "";
  display: block;
  background-color: rgb(68, 47, 47);
  border-radius: 50%;
  height: 2rem;
  width: 1rem;
  position: relative;
  left: -0.5rem;
  bottom: -4.3rem;
  transform: rotate(10deg);
  box-shadow: 0.8rem -0.5rem rgb(68, 47, 47), 1.5rem -0.6rem rgb(68, 47, 47);
}

@keyframes moving {
  from {
    position: relative;
    right: 0rem;
  }
  50% {
    position: relative;
    right: -10rem;
  }
  to {
    position: relative;
    right: -20rem;
  }
}

@keyframes nod {
  from {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes walking-left {
  from {
    position: relative;
    bottom: 1.5rem;
    left: 4rem;
  }

  20% {
    position: relative;
    bottom: 1.5rem;
    left: 4.5rem;
  }

  50% {
    position: relative;
    bottom: 1.5rem;
    left: 5rem;
  }
  70% {
    position: relative;
    bottom: 1.5rem;
    left: 4.5rem;
  }
  to {
    position: relative;
    bottom: 1.5rem;
    left: 4rem;
  }
}

@keyframes walking-right {
  from {
    position: relative;
    right: -10rem;
    top: -7.5rem;
  }

  20% {
    position: relative;
    right: -9rem;
    top: -7.5rem;
  }

  50% {
    position: relative;
    right: -8rem;
    top: -7.5rem;
  }
  70% {
    position: relative;
    right: -9rem;
    top: -7.5rem;
  }
  to {
    position: relative;
    right: -10rem;
    top: -7.5rem;
  }
}
